
TemplateTest.xcworkspace/xcuserdata/hw.xcuserdatad/UserInterfaceState.xcuserstate
TemplateTest.xcworkspace/xcuserdata/hw.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
TemplateTest.xcworkspace/xcuserdata/hw.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
TemplateTest.xcworkspace/xcuserdata/hw.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
.DS_Store
